@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

:root {
  --ui-radius: 0.5rem;
  --scrollbar-track: oklch(0.22 0 0);
  --scrollbar-thumb: oklch(0.25 0 0);
  --scrollbar-thumb-hover: oklch(0.269 0 0);
}

.light {
  --scrollbar-track: oklch(0.96 0 0);
  --scrollbar-thumb: oklch(0.9 0 0);
  --scrollbar-thumb-hover: oklch(0.8 0 0);
}

.dark {
  --scrollbar-track: oklch(0.22 0 0);
  --scrollbar-thumb: oklch(0.25 0 0);
  --scrollbar-thumb-hover: oklch(0.269 0 0);
}

html {
  overflow-y: scroll;
  font-family: "Ubuntu";
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.eric svg {
  width: 40px;
  height: auto;
}

@media (prefers-reduced-motion) {
  .eric path {
    animation: none !important;
    stroke-dasharray: unset !important;
  }
}

@keyframes write {
  0% {
    stroke-dashoffset: 1000px;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/* 只在 .eric 类下的路径应用动画 */
.eric path:nth-child(1) {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
  animation: write 5s ease forwards;
}

.eric path:nth-child(2) {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
  animation: write 5s ease forwards;
  animation-delay: 1.5s;
}

.eric path:nth-child(3) {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
  animation: write 5s ease forwards;
  animation-delay: 2s;
}

.dark .year {
  font-family: "Inter";
  -webkit-text-stroke: 0.03em var(--color-neutral-50);
}

.year {
  font-family: "Inter";
  -webkit-text-stroke: 0.03em var(--color-neutral-950);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scale(0);
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
  transform: scale(1);
}

/* 定义圆形路径的动画 */
@keyframes drawCircle {
  from {
    stroke-dashoffset: 64;
  }

  to {
    stroke-dashoffset: 0;
  }
}

/* 定义对勾路径的动画 */
@keyframes drawCheck {
  from {
    stroke-dashoffset: 6;
  }

  to {
    stroke-dashoffset: 0;
  }
}

/* 应用圆形路径的动画 */
.circle {
  animation: drawCircle 0.8s forwards;
}

/* 应用对勾路径的动画，延迟0.9s开始 */
.check {
  animation: drawCheck 0.5s 0.9s forwards;
}

/* 仅作用于非 h1-h6 内部的链接 */
.glow-link:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a),
.prose a {
  position: relative;
  text-decoration: none;
}

.glow-link:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a)::after,
.prose a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a)::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--color-emerald-500);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.glow-link:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a):hover::after,
.prose a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a):hover::after {
  width: 100%;
  left: 0;
  box-shadow: 0 0 8px var(--color-emerald-500);
}

textarea {
  resize: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(113, 113, 122, 0),
    rgba(113, 113, 122, 0.45),
    rgba(113, 113, 122, 0)
  );
}

/* TOC容器样式 */
.toc {
  width: 260px;
  margin: 5px auto;
  padding: 5px 0;
  position: fixed;
  top: 12%;
  left: calc(var(--spacing) * 10);
  -webkit-user-select: none;
  user-select: none;
}

/* TOC标题样式 */
.toc h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

/* 列表项样式 */
.toc ol {
  list-style: none;
  padding: 0;
  margin: 4px 0;
}

.toc li {
  margin: 0px 0;
}

/* 链接样式 */
.toc a {
  color: var(--color-neutral-500);
  text-decoration: none;
  font-size: 12px;
  position: relative;
  display: inline-block;
  padding: 0px 0;
  transition: color 0.3s ease;
}

/* 鼠标悬停效果 */
.toc a:hover {
  color: var(--color-emerald-500);
}

/* 动态下划线效果 */
.toc a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 2px;
  background: var(--color-emerald-500);
  transition: width 0.3s ease;
}

.toc a:hover::after {
  width: 100%;
}

/* 列表项出现动画 */
.toc li {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.5s forwards;
}

/* 列表项动画延迟 */
.toc li:nth-child(1) {
  animation-delay: 0.1s;
}
.toc li:nth-child(2) {
  animation-delay: 0.2s;
}
.toc li:nth-child(3) {
  animation-delay: 0.3s;
}
.toc li:nth-child(4) {
  animation-delay: 0.4s;
}
.toc li:nth-child(5) {
  animation-delay: 0.5s;
}
.toc li:nth-child(6) {
  animation-delay: 0.6s;
}
.toc li:nth-child(7) {
  animation-delay: 0.7s;
}
.toc li:nth-child(8) {
  animation-delay: 0.8s;
}

/* 列表项动画关键帧 */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
